.main-wrapper {
  display: flex;
  justify-content: center;
}

.events-nav {
  display: flex;
  border-bottom: 2px groove white;
  flex-direction: column;
}

.events-nav a {
  margin: 15px;
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.title-slide {
  display: inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.title-slide span {
  display: inline-block;
  transform: translateX(0);
  transition: transform 5s linear;
}

.title-slide:hover span {
  transform: translateX(-100%);
}

.dates {
  display: inline-block;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.event-date {
  color: white;
  margin: 15px;
  display: inline-block;
  transform: translateX(0);
  transition: transform 2s linear;
}

.event-date:hover {
  transform: translateX(-100%);
}
